@import "../../assets/styles/app-variables";
@import "../../assets/styles/settings/settings-breakpoints";

.insurance {

	&__info {

	}

	&__competences {
		display: flex;
		flex-flow: column nowrap;


		@include for-tablet-landscape-up {
			min-height: 400px;
			display: grid;
			grid-template-columns: 1fr 2.5fr;
			column-gap: 30px;
			align-items: center;
		}

		@include for-desktop-up {
			min-height: 350px;
			grid-template-columns: 1fr 3fr;
			column-gap: 90px;
		}

		ul {
			list-style-type: disc !important;
			list-style-position: outside !important;
		}

		li {
			border-top: 3px solid $primary;
			display: flex;
			flex-flow: column nowrap;

			&:last-child {
				border-bottom: 3px solid $primary;

				@include for-tablet-landscape-up {
					border-bottom: none;
				}
			}


			@include for-tablet-landscape-up {
				border: none;
				display: list-item;
			}

			a {
				font-weight: 600;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				padding: 20px 10px;

				@include for-tablet-landscape-up {
					display: inline-block;
					padding: 20px 0;
				}
			}

			a.active {
				font-weight: 800 !important;
				color: $secondary !important;
			}

			div {
				flex-flow: column nowrap;
				padding: 10px 0;
			}
		}
	}
}


.toggle {
	width: fit-content;
	transition: transform 600ms linear;
	transform-origin: center center;
	transform-style: preserve-3D;
	color: $primary;

	&.fa-angle-down{
		transform: rotate(0deg);
	}

	&.fa-angle-down.expand {
		transform: rotate(180deg);
	}

	@include for-tablet-landscape-up {
		display: none;
	}
}


.competence {
	position: relative;
	border: 1px solid $primary;
	border-radius: 5px;

	&__title {
		position: absolute;
		padding: 5px;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		background-color: $body-bg;
		color: $primary
	}

	&__text {
		text-align: justify;
		padding: 30px 15px 5px 15px;
	}
}
