@import "../app-variables";
.details {

    * {
        color: $text-color-secondary;
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    a {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 5px;
        font-weight: $font-weight-thin;

        &:hover {
            transform: none;
            text-decoration: underline;
            color: $text-color-secondary;
        }
    }

	&__adr:hover {
		text-decoration: none !important;
	}

    &__name {
        font-weight: $font-weight-semi-bold;
    }

    &__other {
        font-weight: $font-weight-normal;
    }


	&__add {
        display: flex;
		flex-flow: column nowrap;
		width: fit-content;

		@include for-tablet-landscape-up {
			flex-flow: row nowrap;
		}
    }

	&__block + .details__block {
		margin: 10px 0 0 0;
		padding: 10px 0 0 0;
		border-top: 1px solid $text-color-secondary;

		@include for-tablet-landscape-up {
			margin:  0 0 0 20px;
			padding: 0 0 0 20px;
			border-top: unset;
			border-left: 1px solid $text-color-secondary;
		}
	}
}
