<div class="container carrier">
    <section class="carrier__info">
        <p>{{'career.info.pr1' | translate }}</p>
        <p>{{'career.info.pr2' | translate }}</p>
        <div class="mb-10">
			<span class="bold ml-30">{{'career.info.pr4' | translate }} </span>
            <a class="carrier__info-more" (click)="showInternshipDetails('spedition')">{{'shared.showMore' | translate }}</a>
        </div>
		<p>{{'career.info.pr3' | translate }}</p>
        <div class="mb-10">
            <span class="bold ml-30">{{'career.info.pr5' | translate }} </span>
            <a class="carrier__info-more" (click)="showInternshipDetails('management')">{{'shared.showMore' | translate }}</a>
        </div>
    </section>
</div>
