<div class="container column">
    <h2 translate="dataPrivacy.dataprotection"></h2>
  
    <h3 translate="dataPrivacy.responsible"></h3>
    <p translate="dataPrivacy.responsibleInfo"></p>
    <h5>NEUFRA Speditions GmbH</h5>
    <span>Moselstraße 8</span>
    <span>41464 Neuss</span>
    <span>Deutschland</span>
    <span
      >{{ "shared.phone" | translate }}:
      <a class="details__tel" href="tel:02131-4075-0">02131 - 40 75 - 0</a></span
    >
    <span
      >{{ "shared.fax" | translate }}:
      <a class="details__fax" href="tel:02131-4075-924"
        >02131 - 40 75 - 924</a
      ></span
    >
    <span>E-Mail: <a href="mailto:neuss@neufra.eu">neuss@neufra.eu</a></span>
    <span>Webseite: <a href="https:www.neufra.eu">www.neufra.eu</a></span>
  
    <h3 translate="dataPrivacy.dataprotectionOfficer"></h3>
    <p translate="dataPrivacy.dataprotectionOfficerInfo"></p>
    <h5>Cornelia Leusch</h5>
    <span>Moselstraße 8</span>
    <span>41464 Neuss</span>
    <span>Deutschland</span>
    <span
      >{{ "shared.phone" | translate }}:
      <a class="details__tel" href="tel:02131-4075-351"
        >02131 - 40 75 - 351</a
      ></span
    >
    <span>E-Mail: <a href="mailto:dsb@neufra.eu">dsb@neufra.eu</a></span>
  
    <h3 translate="dataPrivacy.dataprocessing"></h3>
    <h4 translate="dataPrivacy.dataprocessingSection1"></h4>
    <p translate="dataPrivacy.dataprocessingSection1Info"></p>
    <h4 translate="dataPrivacy.dataprocessingSection2"></h4>
    <p translate="dataPrivacy.dataprocessingSection2Info"></p>
    <h4 translate="dataPrivacy.dataprocessingSection3"></h4>
    <p translate="dataPrivacy.dataprocessingSection3Info"></p>
  
    <h3 translate="dataPrivacy.website"></h3>
    <h4 translate="dataPrivacy.websiteSection1"></h4>
    <p translate="dataPrivacy.websiteSection1Info1"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.websiteSection1Sub1"></li>
      <li translate="dataPrivacy.websiteSection1Sub2"></li>
      <li translate="dataPrivacy.websiteSection1Sub3"></li>
      <li translate="dataPrivacy.websiteSection1Sub4"></li>
      <li translate="dataPrivacy.websiteSection1Sub5"></li>
      <li translate="dataPrivacy.websiteSection1Sub6"></li>
      <li translate="dataPrivacy.websiteSection1Sub7"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.websiteSection1Info2"></p>
    <h4 translate="dataPrivacy.websiteSection2"></h4>
    <p translate="dataPrivacy.websiteSection2Info"></p>
    <h4 translate="dataPrivacy.websiteSection3"></h4>
    <p translate="dataPrivacy.websiteSection3Info"></p>
    <h4 translate="dataPrivacy.websiteSection4"></h4>
    <p translate="dataPrivacy.websiteSection4Info"></p>
    <h4 translate="dataPrivacy.websiteSection5"></h4>
    <p translate="dataPrivacy.websiteSection5Info"></p>
  
    <h3 translate="dataPrivacy.rights"></h3>
    <p translate="dataPrivacy.rightsInfo"></p>
    <h4 translate="dataPrivacy.rightsSection1"></h4>
    <p translate="dataPrivacy.rightsSection1Info1"></p>
  
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection1Sub1"></li>
      <li translate="dataPrivacy.rightsSection1Sub2"></li>
      <li translate="dataPrivacy.rightsSection1Sub3"></li>
      <li translate="dataPrivacy.rightsSection1Sub4"></li>
      <li translate="dataPrivacy.rightsSection1Sub5"></li>
      <li translate="dataPrivacy.rightsSection1Sub6"></li>
      <li translate="dataPrivacy.rightsSection1Sub7"></li>
      <li translate="dataPrivacy.rightsSection1Sub8"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.rightsSection1Info1"></p>
    <h4 translate="dataPrivacy.rightsSection2"></h4>
    <p translate="dataPrivacy.rightsSection2Info"></p>
  
    <h4 translate="dataPrivacy.rightsSection3"></h4>
    <p translate="dataPrivacy.rightsSection3Info1"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection3Sub1"></li>
      <li translate="dataPrivacy.rightsSection3Sub2"></li>
      <li translate="dataPrivacy.rightsSection3Sub3"></li>
      <li translate="dataPrivacy.rightsSection3Sub4"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.rightsSection3Info2"></p>
  
    <h4 translate="dataPrivacy.rightsSection4"></h4>
    <p translate="dataPrivacy.rightsSection4a"></p>
    <p translate="dataPrivacy.rightsSection4aInfo"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection4aSub1"></li>
      <li translate="dataPrivacy.rightsSection4aSub2"></li>
      <li translate="dataPrivacy.rightsSection4aSub3"></li>
      <li translate="dataPrivacy.rightsSection4aSub4"></li>
      <li translate="dataPrivacy.rightsSection4aSub5"></li>
      <li translate="dataPrivacy.rightsSection4aSub6"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.rightsSection4b"></p>
    <p translate="dataPrivacy.rightsSection4bInfo"></p>
    <p translate="dataPrivacy.rightsSection4c"></p>
    <p translate="dataPrivacy.rightsSection4cInfo"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection4cSub1"></li>
      <li translate="dataPrivacy.rightsSection4cSub2"></li>
      <li translate="dataPrivacy.rightsSection4cSub3"></li>
      <li translate="dataPrivacy.rightsSection4cSub4"></li>
      <li translate="dataPrivacy.rightsSection4cSub5"></li>
    </ol>
    <br />
    <h4 translate="dataPrivacy.rightsSection5"></h4>
    <p translate="dataPrivacy.rightsSection5Info"></p>
  
    <h4 translate="dataPrivacy.rightsSection6"></h4>
    <p translate="dataPrivacy.rightsSection6Info1"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection6Sub1"></li>
      <li translate="dataPrivacy.rightsSection6Sub2"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.rightsSection6Info2"></p>
  
    <h4 translate="dataPrivacy.rightsSection7"></h4>
    <p translate="dataPrivacy.rightsSection7Info"></p>
  
    <h4 translate="dataPrivacy.rightsSection8"></h4>
    <p translate="dataPrivacy.rightsSection8Info"></p>
  
    <h4 translate="dataPrivacy.rightsSection9"></h4>
    <p translate="dataPrivacy.rightsSection9Info1"></p>
    <ol style="margin-left: 20px" start="1">
      <li translate="dataPrivacy.rightsSection9Sub1"></li>
      <li translate="dataPrivacy.rightsSection9Sub2"></li>
      <li translate="dataPrivacy.rightsSection9Sub3"></li>
    </ol>
    <br />
    <p translate="dataPrivacy.rightsSection9Info2"></p>
  
    <h4 translate="dataPrivacy.rightsSection10"></h4>
    <p translate="dataPrivacy.rightsSection10Info"></p>
  
    <p translate="dataPrivacy.date"></p>
  </div>
  