<div class="container">
	<p translate="kfzBereich.pr1"></p>
	<p translate="kfzBereich.pr2"></p>
	<p class="mb-50" translate="kfzBereich.pr3"></p>

    <section  class="card-holder">
        <!-- Nationale Linienverkehre -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/germany.svg'"/>
            </div>
            <h2 translate="kfzBereich.national.title"></h2>
            <div class="card__info" translate="kfzBereich.national.info"></div>
        </article>
        <!-- Europaweite Transporte -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/europe.svg'"/>
            </div>
            <h2 translate="kfzBereich.european.title"></h2>
            <div class="card__info" translate="kfzBereich.european.info"></div>
        </article>
        <!-- Internationale Transporte -->
        <article class="card">
            <div class="card__svg">
                <img [src]="urlPrefix + 'assets/icons/world.svg'"/>
            </div>
            <h2 translate="kfzBereich.international.title"></h2>
            <div class="card__info" translate="kfzBereich.international.info"></div>
        </article>
    </section>
</div>











