<div class="container mb-50">
	<p translate="transportDamage.pr1"></p>
	<p translate="transportDamage.pr2"></p>
	<p translate="transportDamage.pr3"></p>
</div>

<div class="container column column--centered">
    <div class="card">
        <div class="card__svg card__svg--hexgonal">
            <img [src]="urlPrefix + 'assets/icons/lorry.svg'"/>
        </div>
        <h3 class="card__title" translate="transportDamage.capacityExploitation.title"></h3>
        <div class="card__info" translate="transportDamage.capacityExploitation.info"></div>
    </div>

    <div class="card">
        <div class="card__svg card__svg--hexgonal">
            <img [src]="urlPrefix + 'assets/icons/handshake.svg'"/>
        </div>
        <h3 class="card__title" translate="transportDamage.cooperation.title"></h3>
        <div class="card__info" translate="transportDamage.cooperation.info"></div>
    </div>

    <div class="card">
        <div class="card__svg card__svg--hexgonal">
            <img [src]="urlPrefix + 'assets/icons/check-mail.svg'"/>
        </div>
        <h3 class="card__title" translate="transportDamage.interest.title"></h3>
        <div class="card__info" translate="transportDamage.interest.info"></div>
    </div>
</div>
