<div class="container">
    <section class="card-holder">
        <!-- Über 40 Jahre Erfahrung -->
        <article #speditionserfahrung class="card card--green card--big" id="speditionserfahrung">
            <div class="card__svg card__svg--small">
                <img [src]="urlPrefix + 'assets/icons/medal.svg'" />
            </div>
            <h2 translate="company.expericence.title"></h2>
            <div class="card__info" translate="company.expericence.info"></div>
        </article>
        <!-- Zuverlässiger Partner -->
        <article #partner class="card card--gray" id="partner">
            <div class="card__svg card__svg--small">
                <img [src]="urlPrefix + 'assets/icons/handshake.svg'" />
            </div>
            <h2 translate="company.partner.title"></h2>
            <div class="card__info" translate="company.partner.info"></div>
        </article>
        <!--  Leistungen aus 1. Hand -->
        <article #hand class="card card--gray" id="hand">
            <div class="card__svg card__svg--small">
                <img [src]="urlPrefix + 'assets/icons/globe.svg'" />
            </div>
            <h2 translate="company.sustainable.title"></h2>
            <div class="card__info" [innerHtml]="'company.sustainable.info' | translate">
            </div>
        </article>
		<!-- Spezialist für Transportschäden -->
		<article #sendungsverfolgung class="card card--green" id="sendungsverfolgung">
			<div class="card__svg card__svg--small">
				<img [src]="urlPrefix + 'assets/icons/tracking.svg'" />
			</div>
			<h2 translate="company.specialty1.title"></h2>
			<div class="card__info" translate="company.specialty1.info"></div>
		</article>
        <!-- Spezialist für den KFZ Bereich -->
        <article #spezialist class="card card--gray" id="spezialist">
            <div class="card__svg card__svg--small">
                <img [src]="urlPrefix + 'assets/icons/lorry.svg'" />
            </div>
            <h2 translate="company.specialty2.title"></h2>
            <div class="card__info" translate="company.specialty2.info"></div>
        </article>
    </section>
    <section class="history-holder">
        <h2 translate="company.history.title"></h2>
        <div>
            <p translate="company.history.first"></p>
            <p translate="company.history.second"></p>
            <p translate="company.history.third"></p>
        </div>
    </section>
    <!-- Documents section -->
    <section>
        <h2 translate="company.documents.title"></h2>
        <div class="document-holder">
            <article class="document" *ngFor="let document of docuList">
				<i class="far fa-file-pdf"></i>
                <span class="document__name">{{document[0]}}</span>
                <span class="document__size hide-on-mobile">({{document[2]}}kB)</span>
                <a [href]="urlPrefix + 'assets/files/documents/' + document[0] + '.' + document[1]" [download]="document[0]">
					<i class="far fa-arrow-alt-circle-down show-on-mobile"></i>
                    <span class="hide-on-mobile">Download</span>
                </a>
            </article>
        </div>
    </section>
</div>
