<div class="footer">
    <div class="footer__block">
        <div class="container">
            <div class="footer__block-info container details">
                <h4 class="details__name">GSS Güter Schaden Service GmbH</h4>
                <a class="details__adr" href="https://maps.google.com/?q=2-4 Heinrich-Lanz-Allee, Frankfurt, 60437" target="_blank">
					<img [src]="urlPrefix + 'assets/icons/location.svg'" alt="location.svg"/>
                    <span class="column">
                        <span>Heinrich-Lanz-Allee 2-4</span>
                        <span>60437 Frankfurt</span>
                    </span>
                </a>
                <a class="details__tel" href="tel:02131-4075-0"><img [src]="urlPrefix + 'assets/icons/phone.svg'" alt="phone.svg"/>+49 (69) 50 70 16 21</a>
                <a class="details__mail" href="mailto:info@gss-gmbh.de" class="email"><img
                        [src]="urlPrefix + 'assets/icons/email.svg'"  alt="email.svg"/>info@gss-gmbh.de</a>
            </div>
        </div>
        <div class="footer__block-triangle"></div>
        <!-- <img class="footer__block-arrow" [src]="urlPrefix + 'assets/icons/neufra-arrow.svg'"> -->
    </div>
    <div class="footer__ribbon row container">
        <a routerLink="/impressum" translate="footer.legalNotice"></a>
        <a routerLink="/datenschutz" translate="footer.dataPrivacy"></a>
        <span>&copy; 2013 GSS Güter Schaden Service GmbH</span>
    </div>
</div>
