@import "../../assets/styles/app-variables";
@import "../../assets/styles/settings/settings-breakpoints";

.location {
    display: flex;
	flex-flow: column nowrap;
	height: 500px;
	width: 100%;
	padding: 15px;
	background-color: $primary;

	& + .location {
		margin-top: 40px;
		padding: 15px;

		@include for-tablet-landscape-up {
			padding: 20px;
		}
	}

	@include for-tablet-landscape-up {
		flex-flow: row nowrap;
		height: 400px;
		padding: 20px;
	}


	&__img {
    	height: 300px;

		@include for-tablet-landscape-up {
			width: 60%;
			height: auto;
		}
    }

	&__address {
        height: 200px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		order: 2;
		margin-top: 20px;

		@include for-tablet-landscape-up {
			padding-left: 20px;
			width: 40%;
			order: unset;
			margin-top: unset;
			height: 100%;
		}

		&:first-child {
			@include for-tablet-landscape-up {
				align-items: flex-end;
				padding-right: 20px;
			}
		}
    }
}
