<div class="container column">
    <h1 translate="legalNotice.legalNotice"></h1>
    <h3 translate="legalNotice.responsible"></h3>
	<p translate="legalNotice.intro"></p>
    <h5>GSS Güter Schaden Service GmbH</h5>
    <span>Heinrich-Lanz-Allee 2-4</span>
    <span>60437 Frankfurt</span>
    <span>{{'shared.phone' | translate}}: <a class="details__tel" href="tel:00496950701621">+49 (69) 50 70 16 21</a></span>
    <span>E-Mail: <a href="mailto:info@gss-gmbh.de">{{'info@gss-gmbh.de'}}</a></span>

    <h3 translate="legalNotice.managingDirectors"></h3>
    <span>Sandra Hast-Herrendorf</span>

	<h3 translate="legalNotice.headquarters"></h3>
    <span>Frankfurt am Main</span>

    <h3 translate="legalNotice.commerciaRegister"></h3>
    <span>{{'legalNotice.court' | translate}} Frankfurt/Main, HR B 22948</span>

    <h3 translate="legalNotice.taxNumber"></h3>
    <span>045 234 90054</span>

    <h3 translate="legalNotice.bankDetails"></h3>
    <span>Volksbank Düsseldorf eG, IBAN: DE85 3016 0213 0037 8500 20, BIC: GENO DED1 DNE</span>

    <h3 translate="legalNotice.useNotice"></h3>
    <p translate="legalNotice.info1"></p>
    <p translate="legalNotice.info2"></p>
    <p translate="legalNotice.info3"></p>
    <p translate="legalNotice.info4"></p>
    <p translate="legalNotice.info5"></p>
    <p translate="legalNotice.info6"></p>

	<h3 translate="legalNotice.disclamer.title"></h3>
	<ol>
		<li translate="legalNotice.disclamer.info1"></li>
		<p translate="legalNotice.disclamer.info1.text"></p>
		<li translate="legalNotice.disclamer.info2"></li>
		<p translate="legalNotice.disclamer.info2.text"></p>
		<li translate="legalNotice.disclamer.info3"></li>
		<p translate="legalNotice.disclamer.info3.text"></p>
		<li translate="legalNotice.disclamer.info4"></li>
		<p translate="legalNotice.disclamer.info4.text"></p>
		<li translate="legalNotice.disclamer.info5"></li>
		<p translate="legalNotice.disclamer.info5.text"></p>
	</ol>
</div>
