<div class="container column">
    <h2 translate="legalNotice.legalNotice"></h2>
    <h3 translate="legalNotice.responsible"></h3>
    <h5>GSS Güter Schaden Service GmbH</h5>
    <span>Heinrich-Lanz-Allee 2-4</span>
    <span>60437 Frankfurt</span>
    <span>{{'shared.phone' | translate}}: <a class="details__tel" href="tel:00496950701621">+49 (69) 50 70 16 21</a></span>
    <span>E-Mail: <a href="mailto:info@gss-gmbh.de">info@gss-gmbh.de</a></span>

    <h3 translate="legalNotice.managingDirectors"></h3>
    <span>Sandra Hast-Herrendorf</span>

    <!-- <h3 translate="legalNotice.commerciaRegister"></h3>
    <span>{{'legalNotice.court' | translate}} Neuss, HRB 2660</span> -->

    <h3 translate="legalNotice.taxNumber"></h3>
    <span>045 234 90054</span>

    <!-- <h3 translate="legalNotice.vatId"></h3>
    <span>DE120682142</span> -->

    <h3 translate="legalNotice.useNotice"></h3>
    <p translate="legalNotice.info"></p>
</div>
