<div class="header row row--centered" [ngClass]="{'header--reduced': activeTab==='standorte'}">
    <div class="container">
        <a routerLink="/home" class="header__logo logo">
            <div class="logo__img"><img [src]="imgPrefix + 'Logo GSS.png'" alt="Logo GSS"></div>
        </a>
        <input type="checkbox" class="header__mini-menu-toggle" id="menu-toggle">
        <label #menuToggle class="header__burger-menu" for="menu-toggle">
            <span class="inclined-75-to-vert">|</span>
            <span class="inclined-25-to-vert">|</span>
            <span class="inclined-45-to-vert">|</span>
        </label>
        <ul class="header__menu menu animations-come-from-right" (click)="disableFreeze()">
            <li class="menu__item menu__item--close show-on-tablet vert-to-hor" (click)="menuToggle.click()">
                <span class="vert-to-45right">|</span>
                <span class="vert-to-45left">|</span>
            </li>
            <!-- languageBar for mobile version -->
            <!-- <li class="menu__item menu__item--lang show-on-tablet">
                <ng-container *ngTemplateOutlet="languageBar"></ng-container>
            </li> -->
            <!-- unternehmen -->
            <li class="menu__item" (click)="menuToggle.click()">
                <a routerLink="/unternehmen" class="menu__item-link"
                    [ngClass]="{'menu__item-link--active': activeTab === 'unternehmen'}" translate="header.company"></a>
            </li>
			<!-- Versicherungslösungen -->
			<li class="menu__item" (click)="menuToggle.click()">
				<a routerLink="/versicherung" class="menu__item-link"
					[ngClass]="{'menu__item-link--active': activeTab === 'versicherung'}" translate="header.insurance"></a>
			</li>
			<!-- Transportschäden -->
			<li class="menu__item" (click)="menuToggle.click()">
				<a routerLink="/tarnsportschaeden" class="menu__item-link"
					[ngClass]="{'menu__item-link--active': activeTab === 'tarnsportschaeden'}" translate="header.transportDamage"></a>
            </li>
            <!-- KFZ Bereich -->
            <li class="menu__item" (click)="menuToggle.click()">
                <a routerLink="/kfz-bereich" class="menu__item-link"
                    [ngClass]="{'menu__item-link--active': activeTab === 'kfz-bereich'}" translate="header.kfz"></a>
            </li>
			<!-- Karriere -->
			<li class="menu__item" (click)="menuToggle.click()">
				<a routerLink="/karriere" class="menu__item-link"
					[ngClass]="{'menu__item-link--active': activeTab === 'karriere'}" translate="header.career"></a>
			</li>
			<!-- standorte -->
			<li class="menu__item" (click)="menuToggle.click()">
				<a routerLink="/standorte" class="menu__item-link"
					[ngClass]="{'menu__item-link--active': activeTab === 'standorte'}" translate="header.locations"></a>
			</li>
            <!-- impressum - datenschutz -->
            <li class="menu__item menu__item--footer show-on-tablet" (click)="menuToggle.click()">
                <a routerLink="/impressum" class="menu__item-link" translate="footer.legalNotice"></a>
                <a routerLink="/datenschutz" class="menu__item-link" translate="footer.dataPrivacy"></a>
            </li>
			<!-- languageBar for desktop version -->
            <!-- <li class="menu__item  hide-on-tablet">
                <ng-container *ngTemplateOutlet="languageBar"></ng-container>
            </li> -->
        </ul>
        <div class="backdrop" (click)="menuToggle.click()"></div>
    </div>
    <div class="header__img poster">
        <div class="poster__img" [ngClass]="{'poster__img--home': activeTab === 'home'}">
            <h1 class="poster__img-title" [ngClass]="{'poster__img-title--primary': activeTab === 'home'}">
                {{('header.' + pageTitle) | translate}}</h1>
            <h4 *ngIf="activeTab === 'home'" class="poster__img-title poster__img-title--secondary">
                {{'header.home-subtitle' | translate}}
            </h4>
            <img class="poster__img-pic" [src]="imgPrefix + 'poster-' + activeTab + mobileSuffix + '.jpg'"
                alt="Poster photo">
        </div>

        <!-- wellcome message  -->
        <div *ngIf="activeTab === 'home' && sharedService.showWellcomeMessage"
            class="poster__img-title--home show-on-mobile">
            <h1>{{'header.home' | translate}}</h1>
            <h4>{{'header.home-subtitle' | translate}}</h4>
            <i class="fa fa-angle-down animation-bounce" (click)="showDetails()"></i>
        </div>
    </div>
</div>

<ng-template #languageBar>
    <select #langBar *ngIf="(sharedService.currLang$ | async) as lang" [value]="lang" class="lang-bar"
        (change)="translateLanguageTo(langBar.value)">
        <option value="de">DE</option>
        <option value="en">EN</option>
        <!-- <option value="fr">FR</option> -->
    </select>
</ng-template>
