<div class="internship" *ngIf="data.type==='spedition'">
	<h2>Kaufmann (m/w/d) für Spedition und Logistikdienstleistung</h2>

	<p>Die NEUFRA Speditions Gruppe ist ein international aufgestelltes mittelständisches Unternehmen, das sich auf
		LKW-Verkehre spezialisiert hat. Täglich befrachten wir ca. 1200 LKW, disponiert von 33 NEUFRA-Niederlassungen in
		Europa. Dafür übernehmen wir seit 1979 Komplett- sowie Teilladungen und optimieren deren Zusammenstellung.</p>

	<p>Während Deiner Ausbildung zum Kaufmann (m/w/d) für Spedition und Logistikdienstleistung für lernst Du bei uns
		insbesondere die vielen Facetten der Disposition kennen. Beim Einkaufen, Planen und Verkaufen von
		Transportdienstleistungen erwarten dich täglich neue Aufgaben und Herausforderungen, die wir alle, auch unsere
		erfahrenen Disponenten/innen, stets gemeinsam im Team meistern. Deine Ausbildung verbindet selbstverständlich
		die speditionellen Spezifika mit den allgemeinen kaufmännischen Bereichen der Verwaltung und Buchhaltung.</p>

	<p>Wenn Du,</p>

	<ul>
		<li>kontaktfreudig bist,</li>
		<li>Organisationstalent besitzt,</li>
		<li>über Verhandlungsgeschick verfügst,</li>
		<li>gern eigenständig arbeitest,</li>
		<li>eigenverantwortlich Entscheidungen treffen möchtest und</li>
		<li>auch in Stresssituationen den Überblick behältst,</li>
	</ul>

	<p>dann ist eine Ausbildung bei der NEUFRA für Dich die richtige Wahl.</p>

	<p>Dich erwartet bei uns eine offene Unternehmenskultur mit flachen Hierarchien in einem persönlich geprägten
		Arbeitsumfeld. Dein Berufsalltag spielt sich in einem modernen Umfeld ab, in dem der Großteil der
		Prozessschritte bereits vollständig digitalisiert ist. Wir bieten Dir einen zukunftssichereren Arbeitsplatz mit
		dem Ziel einer langfristigen Zusammenarbeit.</p>

	<p>Haben wir Dein Interesse geweckt? Dann melde Dich bei uns, wir bieten diese Berufsausbildung an all unseren
		Standorten an und freuen uns schon auf Deine Bewerbung an die entsprechende Niederlassungsleitung.</p>
</div>

<div class="internship" *ngIf="data.type==='management'">
	<h2>Kaufmann (m/w/d) für Büromanagement</h2>

	<p>
		Die NEUFRA Speditions Gruppe ist ein international aufgestelltes mittelständisches Unternehmen, das sich auf
		LKW-Verkehre spezialisiert hat. Täglich befrachten wir ca. 1200 LKW, disponiert von 33 NEUFRA-Niederlassungen in
		Europa. Dafür übernehmen wir seit 1979 Komplett- sowie Teilladungen und optimieren deren Zusammenstellung.
		Die Abrechnung dieser Dienstleistungen findet am jeweiligen Standort statt,
		die kaufmännische Steuerung und Kontrolle aller Niederlassungen wird von unseren Mitarbeiterinnen und
		Mitarbeitern in der Zentralbuchhaltung in Neuss übernommen.
	</p>

	<p>
		Die Ausbildung zum/zur Kaufmann/-frau für Büromanagement zeichnet sich durch seine vielfältigen Lernfelder aus.
		Nach dem ersten Ausbildungsjahr vertiefst Du daher Dein Wissen in zwei von insgesamt zehn Wahlqualifikationen.
		Da du während Deiner Ausbildung bei der NEUFRA viele Berührungspunkte mit den Themengebieten der
		Speditionsbranche hast, solltest du dich grundsätzlich auch für die Welt der Logistik interessieren.
	</p>
	<p>
		Wenn Du,
	</p>

	<ul>
		<li>Interesse am Umgang mit Zahlen hast,</li>
		<li>Organisationstalent besitzt, </li>
		<li>gründlich und strukturiert arbeitest,</li>
		<li>selbstständig und verantwortungsbewusst handelst, </li>
	</ul>

	<p>
		dann ist eine Ausbildung bei der NEUFRA für Dich die richtige Wahl.
	</p>

	<p>
		Dich erwartet bei uns eine offene Unternehmenskultur mit flachen Hierarchien in einem persönlich geprägten
		Arbeitsumfeld. Dein Berufsalltag spielt sich in einem modernen Umfeld ab, in dem der Großteil der
		Prozessschritte bereits vollständig digitalisiert ist. Wir bieten Dir einen zukunftssichereren Arbeitsplatz mit
		dem Ziel einer langfristigen Zusammenarbeit.
	</p>


	<p>
		Haben wir Dein Interesse geweckt? Dann melde Dich bei uns; an unseren Standorten Deggendorf, Frankfurt, München,
		Neuss und Nürnberg bieten wir diese Berufsausbildung an. Bitte sende deine Bewerbungsunterlagen an die
		entsprechende Niederlassungsleitung.
	</p>


</div>
