<div class="internship" *ngIf="data.type==='spedition'">
	<h2>{{'career.internship.spedition.title' | translate}}</h2>

	<p>{{'career.internship.spedition.pr1' | translate}}</p>

	<p>{{'career.internship.spedition.pr2' | translate}}</p>

	<p>{{'career.internship.spedition.pr3' | translate}}</p>

	<ul class="internship__list">
		<li>{{'career.internship.spedition.li1' | translate}}</li>
		<li>{{'career.internship.spedition.li2' | translate}}</li>
		<li>{{'career.internship.spedition.li3' | translate}}</li>
		<li>{{'career.internship.spedition.li4' | translate}}</li>
		<li>{{'career.internship.spedition.li5' | translate}}</li>
		<li>{{'career.internship.spedition.li6' | translate}}</li>
	</ul>

	<p>{{'career.internship.spedition.pr4' | translate}}</p>

	<p>{{'career.internship.spedition.pr5' | translate}}</p>

	<p>{{'career.internship.spedition.pr6' | translate}}</p>
</div>

<div class="internship" *ngIf="data.type==='management'">
	<h2>{{'career.internship.management.title' | translate}}</h2>

	<p>{{'career.internship.management.pr1' | translate}}</p>

	<p>{{'career.internship.management.pr2' | translate}}</p>

	<p>{{'career.internship.management.pr3' | translate}}</p>

	<ul class="internship__list">
		<li>{{'career.internship.management.li1' | translate}}</li>
		<li>{{'career.internship.management.li2' | translate}}</li>
		<li>{{'career.internship.management.li3' | translate}}</li>
		<li>{{'career.internship.management.li4' | translate}}</li>
	</ul>

	<p>{{'career.internship.management.pr4' | translate}}</p>

	<p>{{'career.internship.management.pr5' | translate}}</p>

	<p>{{'career.internship.management.pr6' | translate}}</p>
</div>
